* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100vw;
    height: 951px;
    background-color: rgb(18, 2, 61);
}


.header {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    cursor: pointer;
}

.frist {
    display: inline;
    color: white;

    span {
        color: rgb(98, 4, 187);
    }
}

.secend {
    list-style: none;
    display: inline-flex;
    gap: 120px;
    color: white;
}


.thard {

    button {
        width: 120px;
        height: 35px;
        border-color: transparent;
        border-radius: 25px;
        background-color: white;
        cursor: pointer;

    }
}


.nev {
    width: 85vw;
    height: 770px;
    background-image: linear-gradient(to left, rgb(105, 83, 163), rgb(18, 6, 90));
    margin-left: 150px;
    margin-top: 80px;

}

.icon {

    width: 150px;
    height: 150px;
    margin-left: 750px;
    margin-top: 20px;
}

.mddel {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    gap: 20px;
}

.td {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 0px;
    margin-top: 70px;
}

.last {
    text-align: center;

    h3 {
        font-size: 40px;
        margin-top: 18px;
        color: white;
    }

    p {
        font-size: 17px;
        color: rgb(197, 146, 245);
        padding-top: 10px;
    }
}